In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('Binance_BTCUSDT_minute.csv')

In [12]:
df.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.619310e+12,25/04/2021 0:35,BTC/USDT,49902.95,49936.85,49891.89,49929.18,21.269706,1.061535e+06,530
1,1.619310e+12,25/04/2021 0:34,BTC/USDT,49937.03,49946.24,49902.95,49902.95,17.028586,8.502877e+05,466
2,1.619310e+12,25/04/2021 0:33,BTC/USDT,49932.66,49949.98,49886.09,49937.03,20.808933,1.038732e+06,594
3,1.619310e+12,25/04/2021 0:32,BTC/USDT,49929.81,49996.55,49922.14,49932.66,61.871024,3.090094e+06,1059
4,1.619310e+12,25/04/2021 0:31,BTC/USDT,50029.59,50029.59,49929.81,49929.82,60.797132,3.038586e+06,746

In [13]:
df.describe()

,unix,open,high,low,close,Volume BTC,Volume USDT,tradecount
count,3.235670e+05,323567.000000,323567.000000,323567.000000,323567.000000,323567.000000,3.235670e+05,323567.000000
mean,1.609579e+12,31918.224576,31944.453411,31891.580928,31918.353576,53.718476,1.766623e+06,1167.882219
std,5.616979e+09,17902.976215,17918.869226,17887.028764,17902.974062,62.702549,2.307915e+06,1001.161602
min,1.599860e+12,10149.690000,10159.490000,10136.820000,10149.690000,0.000000,0.000000e+00,0.000000
25%,1.604710e+12,15234.495000,15244.770000,15222.700000,15234.455000,22.451129,4.760862e+05,573.000000
50%,1.609580e+12,29722.530000,29745.000000,29700.010000,29723.880000,36.416100,1.139856e+06,948.000000
75%,1.614440e+12,49707.060000,49766.925000,49650.980000,49707.065000,61.758093,2.174409e+06,1448.000000
max,1.619310e+12,64800.000000,64854.000000,64685.170000,64800.000000,2285.737736,1.046984e+08,29164.000000

In [15]:
df.open

0         49902.95
1         49937.03
2         49932.66
3         49929.81
4         50029.59
            ...
323562    10318.99
323563    10319.34
323564    10319.50
323565    10316.00
323566    10317.00
Name: open, Length: 323567, dtype: float64